# Add any directories, files, or patterns you don't want to be tracked by version control

.bsp
project/project
project/target
target
.history
dist
.idea
*.iml
.idea_modules
.classpath
RUNNING_PID
.settings
.project
out
src_generated
.attach*
*.so
.metals
.bloop
project/metals.sbt
.vscode
*.dmp
javacore.*
generated
.scala-build

functions-remote-generated